<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/coin.png" type="image/x-icon" />
    <title>&#128176; CoinKeeper - Keep track of your Finances</title>
    <link rel="stylesheet" href="/stylesheet/style.css" />
    <script src="/javascript/script.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  </head>
  <body>
    <div class="container">
      <!-- left side -->
      <div class="left-side">
        <div class="budget-info">
          <h2 class="left-head">Hello <%= fullname.split(' ')[0] %></h2>
          <h3 class="month-year">JS code</h3>
          <div class="total-amount">
            <div class="circle">
              <span id="amount"><span class="amount-value"><%= totalAmount %></span></span>
            </div>
            <form action="/logout" method="post" class="log-out">
              <button type="submit">Log Out</button>
            </form>
          </div>
        </div>

        <div class="tagline">
          <h4>
            Keep <br />
            Track <br />
            of your <br />
            Finances
          </h4>
        </div>
      </div>

      <!-- right side -->
      <div class="right-side">
        <div class="coinkeeper-info">
          <h1 class="right-head">&#x1FA99;CoinKeeper</h1>

          <form action="/profile/addamount" method="POST" id="expenseForm">
            <div class="dropdown">
              <select id="expenseType" name="expense" required>
                <option class="options" disabled selected hidden>Expense Type</option>
                <option class="options" value="Savings">Savings</option>
                <option class="options" value="Expenditure">Expenditure</option>
                <option class="options" value="Investment">Investment</option>
              </select>
            </div>
            <% if (typeof errorMessage !== 'undefined') { %>
            <div style="color: red; margin-bottom: 30px"><%= errorMessage %></div>
            <% } %>
            <h2>
              <span style="color: #535b5c; font-weight: 400">Tracking Expenses</span>
              <i class="fas fa-home"></i>
            </h2>
            <hr />
            <div class="input-group">
              <input type="text" placeholder="Description" class="description" name="description" required />
              <input type="number" placeholder="Amount" class="amount" name="amount" required />
              <button type="submit" class="fas fa-check-circle tick add-button" id="add-btn"></button>
            </div>
          </form>
          <hr />
        </div>

        <!-- budget list -->
        <div class="budget-list-container">
          <div class="buttons-section">
            <button style="background-color: green">Savings: <%= savingsTotal %></button>
            <button style="background-color: red">Expenditure: <%= expenditureTotal %></button>
            <button style="background-color: #2a324b">Investment: <%= investmentTotal %></button>
            <i class="fa-sharp fa-regular fa-circle-xmark" id="clear-all"></i>
          </div>
          <div class="budget-list">
            <ul class="budgetEl">
              <% expenses.forEach(expense => { %>
              <li style="background-color: <%= getBackgroundColor(expense.expense) %>" data-id="<%= expense._id %>">
                <span><%= new Date(expense.createdAt).toLocaleDateString('en-GB') %></span>
                <span><%= expense.description %></span>
                <span><%= expense.amount %></span>
                <span><%= expense.expense %></span>
                <i class="fa-sharp fa-solid fa-trash delete-icon"></i>
              </li>
              <% }); %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
